body{
	background-color: beige;
}

h1{
	font-family:Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 150px;
	margin-top: 50px;
	color:black;
	text-align: center;
}

#game{
    text-align: center;
    
}

.card {
    
    grid-template-columns: repeat(6, 4fr);
    width: 8%;
    align-items: center;
    margin: 10px; /* Espacio entre las cartas */
    background-size: cover;
    
}